@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-Regular.woff');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Rubik';
    src: url('../fonts/Rubik-SemiBold.woff');
    font-style: normal;
    font-weight: 600;
}